<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.herprogramacion.lawyersapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/kk"
        android:label="Foro"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".PrecaucionesHogar"></activity>
        <activity android:name=".Higiene" />
        <activity android:name=".ContactosImportantes" />
        <activity android:name=".Mochila" />
        <activity android:name=".Tips" />
        <activity android:name=".LlamadasActivity" />
        <activity android:name=".ListaContactos" />
        <activity android:name=".VerPublicaciones" />
        <activity android:name=".PublicarForo" />
        <activity android:name=".MenuPrincipal" />
        <activity android:name=".Registrarse" />
        <activity
            android:name=".Login"
            android:label="SGAD"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".foro.ForoActivity"
            android:label="Foro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".foro.AddEditForoActivity"
            android:label="@string/title_activity_add_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".forodetail.ForoDetailActivity"
            android:label="@string/title_activity_lawyer_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addeditforo.AddEditForoActivity"
            android:label="@string/title_activity_add_edit"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>